.dataTables_paginate {
    margin: 0 5px 5px;
}
.form-control{
    border-radius: 5px;
}

.searchbox{
    padding: 6px 5px 0 !important;
    width: 50%;
    float: right;
}
.addbtn{
    float: left;
    padding: 0;
    margin: 5px 0 0 5px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    background-color: lightblue !important;
}

.lengthpage{
    float: left;
    padding: 0;
    margin: 6px 0 0 0;
}

.float-left{
    float: left;
}
label.float-left {
    margin: 7px 5px 0 0;
}
