<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BTNB.Models.Properties.Settings.BTNB_QuanLyNhanVienTruongConnectionString"
            connectionString="Data Source=300-FRS-V26;Initial Catalog=BTNB_QuanLyNhanVienTruong;Persist Security Info=True;User ID=sa;Password=123456Sql;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>