<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="CoffeeSystemConnection" connectionString="metadata=res://*/ModelEntity.CoffeeSystemDbContext.csdl|res://*/ModelEntity.CoffeeSystemDbContext.ssdl|res://*/ModelEntity.CoffeeSystemDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-KGMPTLH\SQLEXPRESS;initial catalog=CoffeShopSystem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--<add name="CoffeShopSystemEntities" connectionString="metadata=res://*/ModelEntity.CoffeeSystemDbContext.csdl|res://*/ModelEntity.CoffeeSystemDbContext.ssdl|res://*/ModelEntity.CoffeeSystemDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=300-FRS-V64;initial catalog=CoffeShopSystem;persist security info=True;user id=sa;password=123456Sql;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/ModelEntity.CoffeeSystemDbContext.csdl|res://*/ModelEntity.CoffeeSystemDbContext.ssdl|res://*/ModelEntity.CoffeeSystemDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=300-FRS-V64;initial catalog=CoffeShopSystem;persist security info=True;user id=sa;password=123456Sql;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--<connectionStrings>
    <add name="CoffeeSystemConnection" connectionString="data source=300-FRS-V26;initial catalog=CoffeShopSystem;persist security info=True;user id=sa;password=123456Sql;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  
</configuration>